- content_tag_for(:tr, uprofile, :class => cycle(:odd, :even)) do
  %td.user_id= h uprofile.try(:user_id)
  %td.summary= h uprofile.try(:summary)
  %td.specialities= h uprofile.try(:specialities)
  %td.honorsawards= h uprofile.try(:honorsawards)
  %td.linkedinurl= h uprofile.try(:linkedinurl)
  %td.actions
    = link_to 'Show', uprofile_path(uprofile)
    |
    = link_to 'Edit', edit_uprofile_path(uprofile)
    |
    = link_to 'Destroy', uprofile, :confirm => 'Are you sure?', :method => :delete