- div_for comment do
  .comment-header
    .left
      .user-image.left
        = image_tag 'rails.png'
      = link_to comment.creator, comment.creator
      %span.source
        (#{h comment.source})
      %span.short-message.hide
        =h truncate(comment.message.gsub(/^> .*$/m, ""), 72, "...")
      .clear
    .right
      = time_ago_in_words comment.created_at
      ago
    .clear
  .comment-body
    .message
      =sanitize simple_format(comment.message)
    %br
    %p
      = link_to "Quote", quote_comment_path(comment), :class => :quote
