- form.inputs do
  = form.input :socialable_type, :label => 'Socialable type'
  = form.input :socialable_id, :label => 'Socialable'
  = form.input :application, :label => 'Application'
  = form.input :application_login, :label => 'Application login'
  = form.input :atoken, :label => 'Atoken'
  = form.input :asecret, :label => 'Asecret'
