- content_tag_for(:tr, usocial, :class => cycle(:odd, :even)) do
  %td.socialable_type= h usocial.try(:socialable_type)
  %td.socialable_id= h usocial.try(:socialable_id)
  %td.application= h usocial.try(:application)
  %td.application_login= h usocial.try(:application_login)
  %td.atoken= h usocial.try(:atoken)
  %td.asecret= h usocial.try(:asecret)
  %td.actions
    = link_to 'Show', usocial_path(usocial)
    |
    = link_to 'Edit', edit_usocial_path(usocial)
    |
    = link_to 'Destroy', usocial, :confirm => 'Are you sure?', :method => :delete