%h1.heading
  = "Usocial %s" % @usocial.id
  
- content_tag_for(:dl, @usocial) do
  %dt.label= 'Socialable type'
  %dd.socialable_type= h @usocial.try(:socialable_type)
  %dt.label= 'Socialable'
  %dd.socialable_id= h @usocial.try(:socialable_id)
  %dt.label= 'Application'
  %dd.application= h @usocial.try(:application)
  %dt.label= 'Application login'
  %dd.application_login= h @usocial.try(:application_login)
  %dt.label= 'Atoken'
  %dd.atoken= h @usocial.try(:atoken)
  %dt.label= 'Asecret'
  %dd.asecret= h @usocial.try(:asecret)
  
%p.actions
  = link_to 'Edit', edit_usocial_path(@usocial)
  |
  = link_to 'Index', usocials_path
