- form.inputs do
  = form.input :user_id, :label => 'User'
  = form.input :summary, :label => 'Summary'
  = form.input :specialities, :label => 'Specialities'
  = form.input :honorsawards, :label => 'Honorsawards'
  = form.input :linkedinurl, :label => 'Linkedinurl'
