- content_tag_for(:tr, user_profile, :class => cycle(:odd, :even)) do
  %td.user_id= h user_profile.try(:user_id)
  %td.summary= h user_profile.try(:summary)
  %td.specialities= h user_profile.try(:specialities)
  %td.honorsawards= h user_profile.try(:honorsawards)
  %td.linkedinurl= h user_profile.try(:linkedinurl)
  %td.actions
    = link_to 'Show', user_profile_path(user_profile)
    |
    = link_to 'Edit', edit_user_profile_path(user_profile)
    |
    = link_to 'Destroy', user_profile, :confirm => 'Are you sure?', :method => :delete