%h1.heading
  = "User profile %s" % @user_profile.id
  
- content_tag_for(:dl, @user_profile) do
  %dt.label= 'User'
  %dd.user_id= h @user_profile.try(:user_id)
  %dt.label= 'Summary'
  %dd.summary= h @user_profile.try(:summary)
  %dt.label= 'Specialities'
  %dd.specialities= h @user_profile.try(:specialities)
  %dt.label= 'Honorsawards'
  %dd.honorsawards= h @user_profile.try(:honorsawards)
  %dt.label= 'Linkedinurl'
  %dd.linkedinurl= h @user_profile.try(:linkedinurl)
  
%p.actions
  = link_to 'Edit', edit_user_profile_path(@user_profile)
  |
  = link_to 'Index', user_profiles_path
