%h1.heading
  = "Interests"
  
%p.actions
  = link_to 'New Interest', new_interest_path
  
%table
  %thead.header
    %tr
      %th.user_id= 'User'
      %th.name= 'Name'
      %th.description= 'Description'
      %th.actions= 'Actions'
  %tbody.items.interests
    - @interests.each do |interest|
      = render 'item', :interest => interest
      
= will_paginate(@interests)
