%h1.heading
  = "Interest %s" % @interest.id
  
- content_tag_for(:dl, @interest) do
  %dt.label= 'User'
  %dd.user_id= h @interest.try(:user_id)
  %dt.label= 'Name'
  %dd.name= h @interest.try(:name)
  %dt.label= 'Description'
  %dd.description= h @interest.try(:description)
  
%p.actions
  = link_to 'Edit', edit_interest_path(@interest)
  |
  = link_to 'Index', interests_path
