- form.inputs do
  = form.input :user_id, :label => 'User'
  = form.input :organization_id, :label => 'Organization'
  = form.input :title, :label => 'Title'
  = form.input :start_date, :label => 'Start date'
  = form.input :end_date, :label => 'End date'
  = form.input :description, :label => 'Description'
