- form.inputs do
  = form.input :user_id, :label => 'User'
  = form.input :string, :label => 'String'
  = form.input :string, :label => 'String'
  = form.input :string, :label => 'String'
  = form.input :dob, :label => 'Dob'
  = form.input :is_dp_gravatar, :label => 'Is dp gravatar'
