- form.inputs do
  = form.input :email, :label => 'Email'
  = form.input :country_id, :label => 'Country'
  = form.input :state, :label => 'State'
  = form.input :city, :label => 'City'
  = form.input :street1, :label => 'Street1'
  = form.input :street2, :label => 'Street2'
  = form.input :zip, :label => 'Zip'
  = form.input :is_address_public, :label => 'Is address public'
  = form.input :telnum1, :label => 'Telnum1'
  = form.input :telnum1_type, :label => 'Telnum1 type'
  = form.input :is_telnum1_public, :label => 'Is telnum1 public'
  = form.input :telnum2, :label => 'Telnum2'
  = form.input :telnum2_type, :label => 'Telnum2 type'
  = form.input :is_telnum2_public, :label => 'Is telnum2 public'
  = form.input :webpage1, :label => 'Webpage1'
  = form.input :webpage1_type, :label => 'Webpage1 type'
  = form.input :webpage2, :label => 'Webpage2'
  = form.input :webpage2_type, :label => 'Webpage2 type'
  = form.input :webpage3, :label => 'Webpage3'
  = form.input :webpage3_type, :label => 'Webpage3 type'
  = form.input :time_zone, :label => 'Time zone'
  = form.input :short_description, :label => 'Short description'
