%h1.heading
  = "Ucontact %s" % @ucontact.id
  
- content_tag_for(:dl, @ucontact) do
  %dt.label= 'Email'
  %dd.email= h @ucontact.try(:email)
  %dt.label= 'Country'
  %dd.country_id= h @ucontact.try(:country_id)
  %dt.label= 'State'
  %dd.state= h @ucontact.try(:state)
  %dt.label= 'City'
  %dd.city= h @ucontact.try(:city)
  %dt.label= 'Street1'
  %dd.street1= h @ucontact.try(:street1)
  %dt.label= 'Street2'
  %dd.street2= h @ucontact.try(:street2)
  %dt.label= 'Zip'
  %dd.zip= h @ucontact.try(:zip)
  %dt.label= 'Is address public'
  %dd.is_address_public= h @ucontact.try(:is_address_public)
  %dt.label= 'Telnum1'
  %dd.telnum1= h @ucontact.try(:telnum1)
  %dt.label= 'Telnum1 type'
  %dd.telnum1_type= h @ucontact.try(:telnum1_type)
  %dt.label= 'Is telnum1 public'
  %dd.is_telnum1_public= h @ucontact.try(:is_telnum1_public)
  %dt.label= 'Telnum2'
  %dd.telnum2= h @ucontact.try(:telnum2)
  %dt.label= 'Telnum2 type'
  %dd.telnum2_type= h @ucontact.try(:telnum2_type)
  %dt.label= 'Is telnum2 public'
  %dd.is_telnum2_public= h @ucontact.try(:is_telnum2_public)
  %dt.label= 'Webpage1'
  %dd.webpage1= h @ucontact.try(:webpage1)
  %dt.label= 'Webpage1 type'
  %dd.webpage1_type= h @ucontact.try(:webpage1_type)
  %dt.label= 'Webpage2'
  %dd.webpage2= h @ucontact.try(:webpage2)
  %dt.label= 'Webpage2 type'
  %dd.webpage2_type= h @ucontact.try(:webpage2_type)
  %dt.label= 'Webpage3'
  %dd.webpage3= h @ucontact.try(:webpage3)
  %dt.label= 'Webpage3 type'
  %dd.webpage3_type= h @ucontact.try(:webpage3_type)
  %dt.label= 'Time zone'
  %dd.time_zone= h @ucontact.try(:time_zone)
  %dt.label= 'Short description'
  %dd.short_description= h @ucontact.try(:short_description)
  
%p.actions
  = link_to 'Edit', edit_ucontact_path(@ucontact)
  |
  = link_to 'Index', ucontacts_path
