%h1.heading
  = "Education %s" % @education.id
  
- content_tag_for(:dl, @education) do
  %dt.label= 'User'
  %dd.user_id= h @education.try(:user_id)
  %dt.label= 'Organization'
  %dd.organization_id= h @education.try(:organization_id)
  %dt.label= 'Degree'
  %dd.degree= h @education.try(:degree)
  %dt.label= 'Field'
  %dd.field= h @education.try(:field)
  %dt.label= 'Education type'
  %dd.education_type= h @education.try(:education_type)
  %dt.label= 'Start date'
  %dd.start_date= h @education.try(:start_date)
  %dt.label= 'End date'
  %dd.end_date= h @education.try(:end_date)
  %dt.label= 'Description'
  %dd.description= h @education.try(:description)
  
%p.actions
  = link_to 'Edit', edit_education_path(@education)
  |
  = link_to 'Index', educations_path
