= link_to " Work Backstage ", :popup => :true
- if logged_in?
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|
  = link_to " My Account ", :popup => :true
  = link_to " My Profile ", nil, :class => :orange
  = link_to "Logout #{current_user}", destroy_user_session_path